#wrapper {
    background-image: url('../capa/assets/fundo.png');
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: left;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #5fa4db;
}
.titulo-2 {
    height: 100%;
    background-image: url('../capa/assets/tijolos.png');
    width: 32%;
    position: absolute;
    top: 0;
    right: -15px;
}
.titulo-2 img {
    width: 100%;
}
.titulo {
    background-image: url('../capa/assets/madeira.png');
    height: 130px;
    width: 1044px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 60px;
}
.menu {
    background-image: url('../capa/assets/prancheta.png');
    background-size: contain;
    width: 909px;
    height: 657px;
    position: absolute;
    bottom: -66px;
    right: -100px;
    z-index: 11;
    padding-left: 200px;
    padding-top: 280px;
    transform: scale(0.8);
}
.menu a {
    display: block;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 2px;
    color: #008992;
    font-weight: 600;
    transform: rotate(11deg);  
    width: fit-content;
    border: 3px solid transparent;
    padding: 2px;
}
.margin-l {
    margin-left: 40px;
}
#btn-1 {
    /* width: 326px;
    height: 91px;
    background-image: url('../capa/assets/bt1.png'); */
}
#btn-2 {
    /* background-image: url('../capa/assets/bt2.png');
    width: 416px;
    height: 137px; */
    margin-left: -15px;
    /* margin-top: -28px; */
}
#btn-3 {
    /* background-image: url('../capa/assets/bt3.png');
    width: 261px;
    height: 79px; */
    margin-left: -30px;
    margin-top: -15px;
}
#btn-4 {
    /* background-image: url('../capa/assets/bt4.png');
    width: 248px;
    height: 76px; */
    margin-left: -40px;
    /* margin-top: -20px; */
}
#btn-5 {
    /* background-image: url('../capa/assets/bt5.png');
    width: 163px;
    height: 59px; */
    margin-left: -50px;
    /* margin-top: -20px; */
}

#btn-1:hover {
    /* background-image: url('../capa/assets/bt1_hover.png'); */
    border: 3px solid #ff9700;
}
#btn-2:hover {
    /* background-image: url('../capa/assets/bt2_hover.png'); */
    border: 3px solid #ff9700;
}
#btn-3:hover {
    /* background-image: url('../capa/assets/bt3_hover.png'); */
    border: 3px solid #ff9700;
}
#btn-4:hover {
    /* background-image: url('../capa/assets/bt4_hover.png'); */
    border: 3px solid #ff9700;
}
#btn-5:hover {
    /* background-image: url('../capa/assets/bt5_hover.png'); */
    border: 3px solid #ff9700;
}

.caneta {
    position: absolute;
    bottom: 0px;
    right: -40px;
    z-index: 15;
    transform: rotate(-26deg);
}


@media screen and (max-width:1366px){
    .menu{
     
        width: Calc(909px * .7);
        height: Calc(657px  * .7);
        position: absolute;
        bottom: -66px;
        right: -100px;
   
        padding-left: Calc(180px * .7);
        padding-top: Calc(280px * .7);
        transform: none;
    }
    .menu a{
        font-size: 1.2rem;
        margin-bottom:0;
        width: auto

    }
    .caneta {
        position: absolute;
        bottom: 0px;
        right: -40px;
        z-index: 15;
        transform: rotate(-26deg) scale(.7);
        transform-origin: right;
    }
    .titulo{
        background-size: cover;
        width: 65%;
    }

    .titulo img{
       max-width:55%;
    }  
}
@media screen and (max-width: 1050px){
    .titulo{
        width: 55%;
    }
    .titulo img{
        max-width: 70%;
    }
    .titulo img:last-child{
        width: 100%;
        max-width: 100px;        
    }
}



@media (max-width: 1000px) {
    .titulo-2 {
        width: 70%;
    }
    #wrapper {
        background-size: cover;
    }
    .menu {
        bottom: 90px;
    }
    .titulo {
        width: 100%;
    }
    .titulo img:first-of-type {
        width: 70%;
    }
    .titulo {
        z-index: 16;
    }

    .titulo{
        height:130px  ;
        width: 100%;
    }
    .titulo img:first-child{
        width: 100%;
        margin-top: 10px;
        max-width: 280px;
    }
    .titulo img:last-child{
        width: 100%;
        max-width: 70px;
        position: absolute;
        right: initial;
        left: 75vw;
    }
}

@media (max-width: 600px) {
    .menu {
        width: 100%;
        background-image: unset;
        background-color: #f1f1f1;
        padding: 0;
        transform: unset;
        height: auto;
        left: 0;
        padding-bottom: 80px;
    }
    .menu a {
        transform: unset;
        margin-left: unset !important;
        margin: 10px !important;
    }
    .caneta {
        display: none;
    }
    .margin-l {
        margin-left: unset;
    }
    .menu a br {
        display: none;
    }
}